{"openapi":"3.0.1","info":{"title":"키키하이 API","description":"키키하이 개발 서버의 API 입니다","version":"1.0"},"servers":[{"url":"https://api.kikihi.store","description":"KIKIHI API 명세서"}],"security":[{"JWT":[]}],"tags":[{"name":"상품 조회 API","description":"상품 조회를 수행하는 API 입니다."},{"name":"인증 관련 API","description":"유저의 토큰 재발급, 로그아웃의 기능을 수행하는 API 입니다."},{"name":"개발용 JWT 발급 API","description":"개발용 JWT 발급 API입니다."},{"name":"북마크 API","description":"북마크 기능을 수행하는 API 입니다."}],"paths":{"/api/v1/bookmarks":{"get":{"tags":["북마크 API"],"summary":"카테고리 기반 북마크 목록 조회 API","description":"JWT 기반으로 카테고리별 북마크 목록을 조회할 수 있습니다.","operationId":"loadBookmarkByCategory","parameters":[{"name":"category","in":"query","description":"카테고리","required":true,"schema":{"type":"string"},"example":"keycap"},{"name":"pageRequest","in":"query","required":true,"schema":{"$ref":"#/components/schemas/com.jiyoung.kikihi.global.response.page.PageRequest"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/com.jiyoung.kikihi.global.response.ApiResponseCom.jiyoung.kikihi.global.response.page.SliceResponseCom.jiyoung.kikihi.platform.adapter.in.web.dto.response.bookmark.BookmarkResponse"}}}}}},"post":{"tags":["북마크 API"],"summary":"북마크 생성 API","description":"JWT 기반으로 북마크를 생성할 수 있습니다.","operationId":"saveBookmark","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.jiyoung.kikihi.platform.adapter.in.web.dto.request.BookmarkRequest"},"examples":{"북마크 생성 성공 예시":{"description":"북마크 생성 성공 예시","value":{"productId":"68628bc0b3ef08a40a70f2d8"}}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/com.jiyoung.kikihi.global.response.ApiResponseJava.lang.String"}}}}}}},"/api/v1/auth/reissue":{"post":{"tags":["인증 관련 API"],"summary":"토큰 재발급 API","description":"RefeshToken을 바탕으로 AccessToken을 재발급 할 수 있습니다.","operationId":"reissue","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/com.jiyoung.kikihi.global.response.ApiResponseJava.lang.String"}}}}}}},"/api/v1/auth/logout":{"post":{"tags":["인증 관련 API"],"summary":"로그아웃 API","description":"쿠키가 존재하고, 카카오/구글을 통해 로그인한 회원에서 가능합니다.","operationId":"logout","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/com.jiyoung.kikihi.global.response.ApiResponseJava.lang.String"}}}}}}},"/api/v1/auth/dev-login":{"post":{"tags":["개발용 JWT 발급 API"],"summary":"쿠키 발급 API","description":"개발의 편의를 위해 개발용 JWT를 즉시 발급 받을 수 있습니다.","operationId":"devLogin","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/com.jiyoung.kikihi.global.response.ApiResponseJava.lang.String"}}}}}}},"/api/v1/search":{"get":{"tags":["search-controller"],"operationId":"searchProducts","parameters":[{"name":"keyword","in":"query","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"minScore","in":"query","required":false,"schema":{"type":"number","format":"float","default":0.001}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/com.jiyoung.kikihi.global.response.ApiResponseJava.util.ListCom.jiyoung.kikihi.platform.adapter.in.web.dto.response.product.ProductListResponse"}}}}}}},"/api/v1/products":{"get":{"tags":["상품 조회 API"],"summary":"상품 상세 조회 API","description":"ID를 바탕으로 상품 상세정보를 조회할 수 있습니다.","operationId":"getProduct","parameters":[{"name":"id","in":"query","description":"상품 ID","required":true,"schema":{"type":"string"},"example":"68524682518e78c5d8f73e94"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/com.jiyoung.kikihi.global.response.ApiResponseCom.jiyoung.kikihi.platform.adapter.in.web.dto.response.product.ProductDetailResponse"}}}}}}},"/api/v1/products/list":{"get":{"tags":["상품 조회 API"],"summary":"상품 목록 조회 API","description":"파라미터에 따라서 상품 목록을 조회할 수 있습니다.","operationId":"getProductList","parameters":[{"name":"pageRequest","in":"query","required":true,"schema":{"$ref":"#/components/schemas/com.jiyoung.kikihi.global.response.page.PageRequest"}},{"name":"category","in":"query","description":"카테고리","required":true,"schema":{"type":"string"},"example":"keycap"},{"name":"manufacturer","in":"query","description":"제조사 목록 (여러 개 입력 가능)","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"minPrice","in":"query","description":"최소 가격","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"maxPrice","in":"query","description":"최대 가격","required":false,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/com.jiyoung.kikihi.global.response.ApiResponseCom.jiyoung.kikihi.global.response.page.SliceResponseCom.jiyoung.kikihi.platform.adapter.in.web.dto.response.product.ProductListResponse"}}}}}}},"/api/v1/bookmarks/{id}":{"get":{"tags":["북마크 API"],"summary":"북마크 상세 조회 API","description":"북마크 ID를 기반으로 조회할 수 있습니다.","operationId":"loadBookmark","parameters":[{"name":"id","in":"path","description":"북마크 Id","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/com.jiyoung.kikihi.global.response.ApiResponseCom.jiyoung.kikihi.platform.adapter.in.web.dto.response.bookmark.BookmarkResponse"}}}}}}}},"components":{"schemas":{"com.jiyoung.kikihi.platform.adapter.in.web.dto.request.BookmarkRequest":{"type":"object","properties":{"productId":{"type":"string"},"userId":{"type":"string","format":"uuid"}}},"com.jiyoung.kikihi.global.response.ApiResponseJava.lang.String":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"string"},"error":{"$ref":"#/components/schemas/com.jiyoung.kikihi.global.response.ExceptionDto"}}},"com.jiyoung.kikihi.global.response.ExceptionDto":{"type":"object","properties":{"code":{"type":"integer","format":"int32"},"message":{"type":"string"},"exceptionMessage":{"type":"string"}}},"com.jiyoung.kikihi.global.response.ApiResponseJava.util.ListCom.jiyoung.kikihi.platform.adapter.in.web.dto.response.product.ProductListResponse":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"$ref":"#/components/schemas/com.jiyoung.kikihi.platform.adapter.in.web.dto.response.product.ProductListResponse"}},"error":{"$ref":"#/components/schemas/com.jiyoung.kikihi.global.response.ExceptionDto"}}},"com.jiyoung.kikihi.platform.adapter.in.web.dto.response.product.ProductListResponse":{"type":"object","properties":{"id":{"type":"string"},"thumbnail":{"type":"string"},"category":{"type":"string"},"manufacturerName":{"type":"string"},"productName":{"type":"string"},"discountRate":{"type":"number","format":"double"},"discountedPrice":{"type":"number","format":"double"},"likedByMe":{"type":"boolean"}}},"com.jiyoung.kikihi.global.response.ApiResponseCom.jiyoung.kikihi.platform.adapter.in.web.dto.response.product.ProductDetailResponse":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#/components/schemas/com.jiyoung.kikihi.platform.adapter.in.web.dto.response.product.ProductDetailResponse"},"error":{"$ref":"#/components/schemas/com.jiyoung.kikihi.global.response.ExceptionDto"}}},"com.jiyoung.kikihi.platform.adapter.in.web.dto.response.product.DeliveryInfoResponse":{"type":"object","properties":{"shippingFee":{"type":"integer","format":"int32"},"shippingType":{"type":"string"},"estimatedDate":{"type":"string"}}},"com.jiyoung.kikihi.platform.adapter.in.web.dto.response.product.ProductDetailResponse":{"type":"object","properties":{"id":{"type":"string"},"manufacturerName":{"type":"string"},"category":{"type":"string"},"productName":{"type":"string"},"discountRate":{"type":"number","format":"double"},"originalPrice":{"type":"number","format":"double"},"discountedPrice":{"type":"number","format":"double"},"deliveryInfo":{"$ref":"#/components/schemas/com.jiyoung.kikihi.platform.adapter.in.web.dto.response.product.DeliveryInfoResponse"},"recommendedItems":{"type":"array","items":{"$ref":"#/components/schemas/com.jiyoung.kikihi.platform.adapter.in.web.dto.response.product.RecommendedItemResponse"}},"cautions":{"type":"string"},"imageUrl":{"type":"array","items":{"type":"string"}}}},"com.jiyoung.kikihi.platform.adapter.in.web.dto.response.product.RecommendedItemResponse":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"thumbnail":{"type":"string"}}},"com.jiyoung.kikihi.global.response.page.PageRequest":{"type":"object","properties":{"page":{"type":"integer","description":"페이지 번호 (1부터 시작)","format":"int32","example":1},"size":{"type":"integer","description":"페이지 크기","format":"int32","example":20}}},"com.jiyoung.kikihi.global.response.ApiResponseCom.jiyoung.kikihi.global.response.page.SliceResponseCom.jiyoung.kikihi.platform.adapter.in.web.dto.response.product.ProductListResponse":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#/components/schemas/com.jiyoung.kikihi.global.response.page.SliceResponseCom.jiyoung.kikihi.platform.adapter.in.web.dto.response.product.ProductListResponse"},"error":{"$ref":"#/components/schemas/com.jiyoung.kikihi.global.response.ExceptionDto"}}},"com.jiyoung.kikihi.global.response.page.SliceResponseCom.jiyoung.kikihi.platform.adapter.in.web.dto.response.product.ProductListResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/com.jiyoung.kikihi.platform.adapter.in.web.dto.response.product.ProductListResponse"}},"hasNext":{"type":"boolean"},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"}}},"com.jiyoung.kikihi.global.response.ApiResponseCom.jiyoung.kikihi.global.response.page.SliceResponseCom.jiyoung.kikihi.platform.adapter.in.web.dto.response.bookmark.BookmarkResponse":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#/components/schemas/com.jiyoung.kikihi.global.response.page.SliceResponseCom.jiyoung.kikihi.platform.adapter.in.web.dto.response.bookmark.BookmarkResponse"},"error":{"$ref":"#/components/schemas/com.jiyoung.kikihi.global.response.ExceptionDto"}}},"com.jiyoung.kikihi.global.response.page.SliceResponseCom.jiyoung.kikihi.platform.adapter.in.web.dto.response.bookmark.BookmarkResponse":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/com.jiyoung.kikihi.platform.adapter.in.web.dto.response.bookmark.BookmarkResponse"}},"hasNext":{"type":"boolean"},"page":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"}}},"com.jiyoung.kikihi.platform.adapter.in.web.dto.response.bookmark.BookmarkResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"userId":{"type":"string","format":"uuid"},"products":{"$ref":"#/components/schemas/com.jiyoung.kikihi.platform.adapter.in.web.dto.response.product.ProductListResponse"}}},"com.jiyoung.kikihi.global.response.ApiResponseCom.jiyoung.kikihi.platform.adapter.in.web.dto.response.bookmark.BookmarkResponse":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#/components/schemas/com.jiyoung.kikihi.platform.adapter.in.web.dto.response.bookmark.BookmarkResponse"},"error":{"$ref":"#/components/schemas/com.jiyoung.kikihi.global.response.ExceptionDto"}}}},"securitySchemes":{"JWT":{"type":"http","scheme":"Bearer","bearerFormat":"JWT"}}}}